<div
    class="bg-[url('assets/img/Topographic.svg')] md:row-span-2 col-span-2 md:col-span-1 bg-white dark:bg-gray-800 rounded-[30px] static relative h-[550px] overflow-hidden flex">

  <div class="grid gap-4 grid-cols-3 rotate-[45deg] content-center absolute bottom-20 -right-2 scale-[2]">

  <ng-container *ngFor="let tech of floatingTech">

    <a *ngIf="tech.link; else noLink"
       [href]="tech.link"
       target="_blank"
       class="bg-white dark:bg-gray-700 w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg transition-transform duration-300 hover:scale-110">

      <img class="w-10 lg:w-16" [src]="tech.image" [alt]="tech.name">
    </a>

    <ng-template #noLink>
      <div class="bg-white dark:bg-gray-700 w-24 h-24 rounded-lg flex items-center justify-center drop-shadow-md hover:shadow-lg transition-transform duration-300 hover:scale-110">
        <img class="w-10 lg:w-16" [src]="tech.image" [alt]="tech.name">
      </div>
    </ng-template>

  </ng-container>

</div>
    <a routerLink="/tools"
        class="bg-white dark:bg-gray-700 w-10 h-10 rounded-full absolute bottom-0 left-0 m-4 flex justify-center items-center ring-1 ring-gray-400 hover:ring-4 hover:ring-gray-200 hover:transition duration-700 ease-in-out">
        <svg id="Arrow.7" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18.256 18.256"
            style="transition:.3s">
            <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
                <path id="Path_10" data-name="Path 10" d="M14.581,7.05,7.05,14.581" transform="translate(-7.05 -7.012)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
                <path id="Path_11" data-name="Path 11" d="M10,7l5.287.037.038,5.287" transform="translate(-7.756 -7)"
                    fill="none" stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                </path>
            </g>
            <path id="Path_12" data-name="Path 12" d="M0,0H18.256V18.256H0Z" fill="none"></path>
        </svg>
    </a>
</div>