<div
    class="bg-[#ffe3a4] dark:bg-gray-800  col-span-2 rounded-[30px] relative h-[280px] hover:shadow-lg overflow-hidden">
    <div class="absolute right-0 z-30">
        <img class="w-[20rem] md:w-[28rem] h-48 sm:h-60 md:h-64 rounded-lg rotate-[-35deg]" src="assets/img/hinez.png"
            alt="hinez">
    </div>
    <div class="bg-[#ffc6d7]  dark:bg-gray-800 rounded-t-full w-56 h-28 lg:w-80 lg:h-44 absolute bottom-0">
    </div>
    <!-- right top arrow -->
    <a href="https://qr-generator-xi-snowy.vercel.app/" target="_blank" class="absolute bottom-0 left-0 m-4">
                    <button
                class="btn generator rounded-full bg-white dark:bg-gray-800 relative flex items-center gap-0 hover:ring-4 ring-gray-200 p-2 px-3 border-2 border-gray-200 dark:border-gray-400 dark:text-white dark:ring-gray-400 transition-all duration-500">

                <svg width="20" height="20" viewBox="0 0 18.256 18.256">
                    <g transform="translate(5.363 5.325)">
                        <path d="M14.581,7.05,7.05,14.581" transform="translate(-7.05 -7.012)" fill="none"
                            stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>

                        <path d="M10,7l5.287.037.038,5.287" transform="translate(-7.756 -7)" fill="none"
                            stroke="#0D1117" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                    </g>
                </svg>

                <span class="btn-text"> QR Generator</span>

            </button>
    </a>
</div>